#contact-header {
    font-family: 'Fjalla One', sans-serif;
    font-size: 45px;
    color: white;
    text-shadow: 1px 1px black;
    text-transform: uppercase;
    text-align: center;
}

#contact-body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.contact-links {
    color: rgb(63, 30, 182) !important;
}