body {
    color: whitesmoke;
    text-align: center;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(43, 41, 41);
    align-items: center;
}

.footer-icons {
    justify-content: center;
}