@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.navbar{
    font-family: 'Fjalla One', sans-serif;
    font-size: 14pt;
    text-transform: uppercase;
    background: transparent;
    padding-right: 0;
}