#profile-img {
    max-width:30%;
    max-height:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@600&display=swap');

#about-header {
    font-family: "Big Shoulders Inline Text", cursive;
    font-size: 50pt;
    color:white;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

#about-name {
    font-family: 'Fjalla One', sans-serif;
    font-size: 28pt;
    color: white;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
    text-align: center;
}

#about-title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 18pt;
    color:white;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
    text-align: center;
}