#profile-img {
    max-width:40%;
    max-height:40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@600&display=swap');

h2 {
    font-family: "Big Shoulders Inline Text", cursive;
    font-size: 35pt;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

h4 {
    font-family: "Big Shoulders Inline Text", cursive;
    font-size: 32pt;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

h5 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20pt;
    color: black;
    text-transform: uppercase;
    text-align: center;
}